.container {
  display: flex;
  flex-direction: column;
  margin: 2% 0;
  padding: 0 10px;
}

.card {
  margin: 5px !important;
  border-bottom: 5px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 500px) {
  .card {
    min-width: 300px !important;
  }
}

.confirmed {
  border-color: rgba(184, 78, 255, 0.5);
}

.recovered {
  border-color: rgba(0, 216, 29, 0.5);
}

.deaths {
  border-color: rgba(255, 74, 74, 0.5);
}
